@font-face {
  font-family: 'Dumbledor3';
  font-style: normal;
  font-weight: 400;
  src: url(https://github.com/Djelle/magictome/raw/main/themes/dumbledor3.woff2) format('woff2');
}
@font-face {
  font-family: 'Dumbledor3';
  font-style: italic;
  font-weight: 400;
  src: url(https://github.com/Djelle/magictome/raw/main/themes/dumbledor3_italic.woff2) format('woff2');
}
